.cart-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-control button {
  padding: 5px 10px;
  margin: 0 5px;
}

.remove-button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: darkred;
}

.cart-total {
  text-align: right;
}

.checkout-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 8px;
}

.checkout-button:hover {
  background-color: darkgreen;
}

.cart-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.continue-shopping-button,
.history-button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.continue-shopping-button:hover,
.history-button:hover {
  background-color: #e65a50;
}
